[core]
	excludesFile = ~/.gitignore
[pull]
	ff = true
[push]
	default = simple
	autoSetupRemote = true
[pager]
	branch = false
	diff = false
[credential "https://github.com"]
	helper = !{{ gh_path.stdout }} auth git-credential
[credential "https://gist.github.com"]
	helper = !{{ gh_path.stdout }} auth git-credential
[credential]
{% if ansible_os_family == 'Windows'%}
	helper = manager
	credentialStore = wincredman
{% else %}
	helper = {{ gcm_path.stdout }}
{% if ansible_os_family == 'Darwin' %}
	credentialStore = keychain
{% else %}
	credentialStore = secretservice
{% endif %}
{% endif %}
